<style>
    .f18 {
        min-height: 18px;
        min-width: 18px;
        height: 18px;
        width: 18px;
    }
</style>

<div id='explorerUiContainer' ng-show="$ctrl.isActive()" style='position:absolute;top:10px;height:90vh;background-color:white;z-index:1000000;'>
    <md-sidenav class="md-sidenav-left" md-component-id="primo-explorer" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" style="height:100%;">
        <header id='explorerUiHeader' ng-mousedown='$ctrl.headerMove($event)'>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>PrimoExplorer v0.2</h2>
                    <md-button class='md-icon-button' ng-click="$ctrl.toggle()" aria-label="Close" title='Close'>
                        <md-icon md-svg-icon="primo-ui:close"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
        </header>

        <section id='pe-components'>
            <div flex id='pe-components-list' ng-hide='$ctrl.selectedComponentDetailShow'>
                <section style='background-color:#eee;'>
                    <div layout='row'>
                        <md-button ng-click='$ctrl.refreshComponents()'>Reload</md-button>
                        <md-input-container flex md-no-float>
                            <label>Filter</label>
                            <input ng-model="$ctrl.componentFilter">
                        </md-input-container>
                    </div>
                </section>
                <md-content style="height:90%;">
                    <md-list class="md-dense">
                        <md-list-item ng-repeat="component in $ctrl.components | filter:$ctrl.componentFilter" ng-click="$ctrl.loadComponent(component)">
                            <span>{{component}}</span>
                            <md-divider ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>

            <div flex id='pe-components-detail' ng-show='$ctrl.selectedComponentDetailShow'>
                <section style='height:100%'>
                    <md-toolbar class='md-hue-2' style="font-size: 0.8em;min-height: 2.5em;height:2.5em;">
                        <div class="md-toolbar-tools" style="font-size: 0.8em;min-height: 2.5em;height:2.5em;">

                            <md-button class='md-icon-button' ng-click="$ctrl.selectedComponentDetailShow = false" aria-label="Back" title="Back">
                                <md-icon class="f18" md-svg-icon="primo-ui:chevron-left"></md-icon>
                            </md-button>

                              <h2 flex md-truncate>{{$ctrl.selectedComponentName}}</h2>

                            <md-button class='md-icon-button' ng-click="$ctrl.blink()" aria-label="Blink component" title="Blink component">
                                <md-icon class="f18" md-svg-icon="primo-ui:bell"></md-icon>
                            </md-button>
                            <md-button class='md-icon-button' ng-click="$ctrl.pushToConsole()" aria-label="Push to console" title="Push to console">
                                <md-icon class="f18" md-svg-icon="primo-ui:open-in-new"></md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <section style="background-color:#eee;">
                        <div layout="row" layout-align="center center">
                            <md-button class='md-icon-button' ng-click="$ctrl.selectedComponentElementPrev()" aria-label="Previous element" title="Previous element">
                                <md-icon class="f18" md-svg-icon="primo-ui:chevron-left"></md-icon>
                            </md-button>
                            <div layout-align="center center">
                                <div>{{$ctrl.selectedComponentElementIdx+1}}/{{$ctrl.selectedComponentElementCount}}</div>
                            </div>
                            <md-button class='md-icon-button' ng-click="$ctrl.selectedComponentElementNext()" aria-label="Next element" title="Next element">
                                <md-icon class="f18" md-svg-icon="primo-ui:chevron-right"></md-icon>
                            </md-button>
                        </div>
                        <div layout="row" layout-align="center center">
                          <div flex md-truncate style="font-size:10px;">css({{$ctrl.selectedComponentElement.cssPath}})</div>
                        </div>                        
                    </section>
                    <section>
                        <md-list>
                          <md-list-item ng-repeat="key in $ctrl.selectedComponentElementCtrlKeys()">
                              {{key}}
                          </md-list-item>
                        </md-list>
                    </section>
                </section>
            </div>
        </section>
    </md-sidenav>
</div>
